.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--header-bg);
  z-index: 1000;
  border-bottom: 1px solid var(--border-color);
}

.header__inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .header__inner {
    padding: 12px 24px;
  }
}

.header__icons {
  display: flex;
  column-gap: 20px;
}

.header__icons div {
  display: flex;
  cursor: pointer;
}

.header__menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .header__menu-toggle {
    display: flex;
    align-items: center;
  }
}

/* PC 네비바 */
.desktop-nav {
  display: flex;
}

.desktop-nav__list {
  display: flex;
  gap: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.desktop-nav__item {
  cursor: pointer;
  font-weight: 500;
  color: var(--header-text-color);
  position: relative;
  transition: color 0.2s;
}

.desktop-nav__item:hover {
  color: var(--link-hover-color);
}

@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
}

/* PC 네비바 */

/* MOBILE 네비바 */
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px;
  background: var(--mobile-menu-bg);
  color: var(--mobile-menu-text-color);
  transition: right 0.3s ease;
}

.mobile-menu--hidden {
  right: -100%;
}

.mobile-menu__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.mobile-menu__logo {
  height: 36px;
}

.mobile-menu__logo img {
  max-height: 100%;
  object-fit: cover;
}

.mobile-menu__nav {
  list-style: none;
  padding: 2rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mobile-menu__nav li {
  font-size: 1rem;
  font-weight: 600;
}
/* MOBILE 네비바 */