.content {
    width: 100%;
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 80px;
    padding-bottom: 72px;
}

@media (max-width: 768px) {
    .content {
        max-width: 100%;        
        min-height: 100vh;
        padding-top: 64px;
        padding-bottom: 56px;
    }
}