.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: calc(100vh - 304px);
}

@media (max-width: 768px) {
    .wrapper {
        gap: 1.5rem;
        height: calc(100vh - 240px);
    }
}

.image {
    border-radius: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .image {
        max-width: 240px;
        max-height: 240px;
    }
}

.title {
    font-size: 1.8rem;
}

@media (max-width: 768px) {
    .title {
        font-size: 1rem;
    }
}